nav {
    background-origin: content-box;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -8px;
}

.items-in-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.my-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.about-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio-image {
    width: 220px;
    height: 290px;
    padding-top: 30px;
}

.about-content {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.projects-content {
    padding-left: 35px;
    padding-right: 35px;
}

.myBookPal-section {
    display: flex;
    /* justify-content: space-between; */
    justify-content: left;
    gap: 20px;
}

.myBookPal-image {
    width: 150px;
    height: 150px;
    padding-top: 13px;
}

.ExploreIt-section {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.ExploreIt-image {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.Serenify-section {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.Serenify-image {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.Mapory-section {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.Mapory-image {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.Letha-section {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.Letha-image {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.Deckly-section {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.Deckly-image {
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(0, 0, 0) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 800;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
    :hover {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    }

}

body {
    padding-bottom: 50px;
    background-color:rgb(247, 247, 247);
}

.horizontal-line {
    height: 2px;                 /* Sets the thickness of the line */
    background-color: #e4e4e4;      /* Line color */
    width: 100%;                 /* Makes the line span the full width */
    margin-bottom: 25px;  
    margin-top: 25px;
}

.contacts-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 35px;
    padding-right: 35px;
}
